@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,800;1,900&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600&family=Titillium+Web:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-image: url(./resources/luke-chesser-CxBx_J3yp9g-unsplash.jpg);
  font-family: "Titillium Web", "Poppins", "Roboto", "Rubik", sans-serif;
  background-position: 10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  max-height: 600px;
  width: 450px;
  overflow: scroll;
  position: relative;
  display: inline-block;
  padding-bottom: 40px;
  transition: max-height 0.4s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}
.header {
  text-align: center;
  font-size: 20px;
}
.box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  margin-top: 17px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 10px;
}
.check {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.check_container {
  position: relative;
}
.delete_container {
  position: relative;
}
.edit_container {
  position: relative;
}
#check {
  position: absolute;
  left: -10%;
  top: 90%;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  transition: all 0.4s;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
}

.check_container:hover #check {
  visibility: visible;
  opacity: 1;
}

.delete {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  stroke: red;
}
#delete {
  position: absolute;
  left: -10%;
  top: 90%;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  transition: all 0.4s;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
}
.delete_container:hover #delete {
  visibility: visible;
  opacity: 1;
}
.delete:active {
  fill: #f03e3e;
}
.edit {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
#edit {
  position: absolute;
  left: 5%;
  top: 90%;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  transition: all 0.4s;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
}
.edit_container:hover #edit {
  visibility: visible;
  opacity: 1;
}

.text {
  outline: none;
  border: none;
  font-family: "Rubik", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #4a4a4a34;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding: 20px;
  color: #222;
}
.text::placeholder {
  /* padding-left: 20px; */
  font-size: 18px;
}
.text cursor {
  padding-left: 20px;
}
.add {
  border: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  background-color: #e93ac3;
  box-shadow: 0px 0px 5px rgba(72, 72, 72, 0.568);
  transition: all 0.4s;
}
.add:hover {
  background-color: #98177c;
}

.add:active {
  box-shadow: none;
}

.task_submit {
  height: 40px;
  width: 300px;
  background-color: #222;
  color: #fff;
  font-size: 18px;
  display: flex;
  padding-left: 20px;
  overflow: auto;
  justify-content: left;
  align-items: center;
  border-radius: 9px;
  transition: all 0.2s ease-out;
  word-wrap: break-word;
}
.completed rect {
  stroke: #40c057;
  fill: #40c057;
}
.completed path {
  transition: all 0.2s ease-in;
  stroke: #ffffff;
}
.completed-text {
  text-decoration: line-through;
  color: #ffffff79;
  display: flex;
  align-items: center;
}
.edit_input {
  height: 40px;
  width: 300px;
  background-color: #3d3d3d;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 9px;
  border: none;
  outline: none;
}
